<footer>
    <div class="datos">
        <div class="opciones">
            <div class="card">

                <h3>Bugga Store</h3>

            </div>
            <div class="central">
                <i class="fa fa-map-marker"></i>
                <p>Calle falsa 1234</p>
                <p>Buenos Aires, Argentina</p>
            </div>
            <div class="seguridad">
                <i class="fa fa-phone"></i>
                <p>+54 000000000</p>
            </div>
            <div class="mail">
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@company.com">info@bugga.com</a></p>
            </div>
        </div>
        <div class="credito">

            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-amex"></i>
            <i class="fab fa-cc-paypal"></i>
  
          </div>
        
        <div class="Copyright">
        <h3 class="copy">Copyright © 1999-2021 Bugga Store</h3>
        </div>
    </div>

</footer>
</body>
</html>