<body>
<header>
    <div class="main-header">
        <div class="main-header-logo-search">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo.jpg" alt="logo">
                </a>
            </div>
                    
            <div class="search">
                <form action="#search">
                <input type="text" placeholder="Buscar título, autor..." >
                <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
        <div class="main-header-aviso-burguer">
             <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <div class="carrito">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </div>
    <div class="main-header-verticalMenue">
        <nav class="menuIzq">
            <ul class="lista">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Catálogo</a></li>
                <li><a href="#buggart">BuggaArt</a></li>
                <li><a href="/products/create">Agregar Libro</a></li>
            </ul>
        </nav>

        <nav class="menuDch">
            <ul class="lista">
                
                <li><a href="/register">Registro<i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Login<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/products/carrito"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
    </div>
</header>