<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>

    <%- include('./partials/headerNavbar') %>
    <section class="login">

        <div class="banner">
            <img src="/images/category-books-banner_1920x550_210401.jpeg" alt="banner">
        </div>

        <form action="login.html" method="POST">
            <h3>Ingreso</h3>
            <div class="user">
                <input type="text" name="usuario" placeholder="Nombre de Usuario" required minlength="2">
            </div>
            <div class="passL">
                <input type="password" name="pass" placeholder="Contraseña" required minlength="6">
            </div>    

            <a href="home"><button type="submit">Enviar</button></a>
        </form>

        <div class="banner">
            <img src="/images/category-books-banner_1920x550_210401.jpeg" alt="banner">
        </div>

    </section>

    <%- include('./partials/footer') %>


    </body>
</html>